{% extends "base.html" %}
{% load static %}

{% block content %}


<h2>Totals</h2>


<h3>Earnings</h3>
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for category in earning_categories.values %}
      <tr class="category-row">
        <td class="col-sm-8" id="name-{{ category.name }}">{{ category.name }}</td>
        <td id="total-{{ category.name }}">{{ category.total }}</td>
      </tr>
      {% for child_category in category.children %}
        <tr class="category-row">
          <td class="col-sm-8" id="name-{{ child_category.name }}">
              <span class="col-sm-1"></span>
              {{ child_category.name }}
          </td>
          <td id="total-{{ child_category.name }}">
            <span class="col-sm-1"></span>
            {{ child_category.total }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    <tr>
      <td class="col-sm-8">Total</td>
      <td>{{ earning_total }}</td>
    </tr>
  </tbody>
</table>

<h3>Expenses</h3>
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for category in expense_categories.values %}
      <tr class="category-row">
        <td class="col-sm-8" id="name-{{ category.name }}">{{ category.name }}</td>
        <td id="total-{{ category.name }}">{{ category.total }}</td>
      </tr>
      {% for child_category in category.children %}
        <tr class="category-row">
          <td class="col-sm-8" id="name-{{ child_category.name }}">
              <span class="col-sm-1"></span>
              {{ child_category.name }}
          </td>
          <td id="total-{{ child_category.name }}">
            <span class="col-sm-1"></span>
            {{ child_category.total }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    <tr>
      <td class="col-sm-8">Total</td>
      <td>{{ expense_total }}</td>
    </tr>
  </tbody>
</table>


<h3>Total</h3>
<table class="table">
  <tbody>
    <tr>
      <td class="col-sm-8">Total</td>
      <td>{{ total }}</td>
    </tr>
  </tbody>
</table>


<nav>
  <ul class="pagination">
    {% for month in months %}
      <li class="{% if active_month == month %}active{% endif %}">
        <a href="{% url "totals" %}?month={{ month.slug }}">
          {{ month }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>


<h3>Statistics</h3>
<table class="table">
  <tbody>
    {% for monthly_statistic in monthly_statistics %}
      <tr>
        <td class="col-sm-8">{{ monthly_statistic.statistic }}</td>
        <td>{{ monthly_statistic.amount }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<nav>
  <ul class="pagination">
    {% for month in months %}
      <li class="{% if active_month == month %}active{% endif %}">
        <a href="{% url "totals" %}?month={{ month.slug }}">
          {{ month }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>


{% endblock content %}
