{% extends "base.html" %}

{% block content %}

{% for transaction in transactions %}
  <div class="col-sm-12">
    <div class="col-sm-2">{{ transaction.date }}</div>
    <div class="col-sm-2">{{ transaction.title }}</div>
    <div class="col-sm-2">{{ transaction.category }}</div>
    <div class="col-sm-3">{{ transaction.description }}</div>
  </div>
{% endfor %}

<h2>New Transaction</h2>
<form action="" method="POST" class="form">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}
