{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2>New Expense Transaction</h2>
<form action="" method="POST" class="form">
  {% csrf_token %}
  <input type='hidden' name='form_type' value='expense'></input>
  <p>
    {{ expense_form.title.label }}
    <input type="text" name="title" maxlength="255" required="" id="id_title" list="expense-choices">
  </p>
  <p>
    {{ expense_form.date.label }}
    {{ expense_form.date }}
  </p>
  <p>
    {{ expense_form.amount.label }}
    {{ expense_form.amount }}
  </p>
  <p>
    {{ expense_form.description.label }}
    {{ expense_form.description }}
  </p>
  <p>
    {{ expense_form.receipt.label }}
    {{ expense_form.receipt }}
  </p>
  <p>
    {{ expense_form.category.label }}
    {{ expense_form.category }}
  </p>
  <p>
    {{ expense_form.pending.label }}
    {{ expense_form.pending }}
  </p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<datalist id="expense-choices">
  {% for choice in expense_transaction_choices %}
    <option value="{{ choice }}">
  {% endfor %}
</datalist>

<h2>Current Expense Transactions</h2>
<form method="GET" action="{% url 'copy_transactions' %}">
  <input type='hidden' name="transaction_type" value="{{ expense_transaction_constant }}">
  <input type="submit" value="Copy selected transactions" class="btn btn-primary">
  <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Receipt</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in expense_transactions %}
        <tr>
          <td><input id="{{ transaction.id }}" name="selected_transactions" type="checkbox" value="{{ transaction.id }}"></td>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.title }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.category }}</td>
          <td>{{ transaction.description }}</td>
          <td>{% if transaction.receipt %}<a href="{{ transaction.receipt.url }}">receipt</a>{% endif %}</td>
          <td><a href="{% url "edit_transaction" transaction.category.type_cat transaction.pk %}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<h2>New Earning Transaction</h2>
<form action="" method="POST" class="form">
  {% csrf_token %}
  <input type='hidden' name='form_type' value='earning'></input>
  <p>
    {{ earning_form.title.label }}
    <input type="text" name="title" maxlength="255" required="" id="id_title" list="earning-choices">
  </p>
  <p>
    {{ earning_form.date.label }}
    {{ earning_form.date }}
  </p>
  <p>
    {{ earning_form.amount.label }}
    {{ earning_form.amount }}
  </p>
  <p>
    {{ earning_form.description.label }}
    {{ earning_form.description }}
  </p>
  <p>
    {{ earning_form.receipt.label }}
    {{ earning_form.receipt }}
  </p>
  <p>
    {{ earning_form.category.label }}
    {{ earning_form.category }}
  </p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<datalist id="earning-choices">
  {% for choice in earning_transaction_choices %}
    <option value="{{ choice }}">
  {% endfor %}
</datalist>

<h2>Current Earning Transactions</h2>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Description</th>
      <th>Receipt</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in earning_transactions %}
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.title }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.description }}</td>
        <td>{% if transaction.receipt %}<a href="{{ transaction.receipt.url }}">receipt</a>{% endif %}</td>
        <td><a href="{% url "edit_transaction" transaction.category.type_cat transaction.pk %}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">
    {% for month in months %}
      <li class="{% if current_month == month %}active{% endif %}">
        <a href="{% url "transactions" %}?month={{ month.slug }}">
          {{ month }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endblock content %}
